<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Míldio</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Front/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Front/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Front/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Front/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Front/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Front/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Front/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Front/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/Front/plugins/clima/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Front/dist/img/logo.png" alt="aspNetLogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/home/index" class="brand-link">
                <span class="brand-text">Dashboard | Míldio</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Front/dist/img/defaultAvatar.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Admin</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/home/index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/dados" class="nav-link">
                                <i class="nav-icon fas fa-data"></i>
                                <p>
                                    Dados
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/home/about" class="nav-link">
                                <i class="nav-icon fas fa-info"></i>
                                <p>
                                    Sobre
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/home/contact" class="nav-link">
                                <i class="nav-icon fas fa-envelope"></i>
                                <p>
                                    Contato
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/home/updates" class="nav-link">
                                <i class="nav-icon fas fa-newspaper"></i>
                                <p>
                                    Atualizações
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Front/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Front/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Front/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Front/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Front/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Front/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Front/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Front/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Front/plugins/moment/moment.min.js"></script>
    <script src="~/Front/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Front/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Front/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Front/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Front/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Front/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Front/dist/js/pages/dashboard.js"></script>
    <script src="~/Front/plugins/flot/jquery.flot.js"></script>
    <script src="~/Front/plugins/flot/flotchart.js"></script>
    <script src="~/Front/plugins/clima/script.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $.ajax({
            type: "POST",
            url: "/home/jsontemperatura",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Temperatura",
                        data: aDatasets1,
                        fill: false,
                        lineTension: 0.5,
                        borderWidth: 2,
                        backgroundColor: "rgba(80,255,70,2)",
                        borderColor: "rgba(80,255,70,1)",
                        pointRadius: 4.5,
                        pointBackgroundColor: "rgba(30,170,30,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(2,117,0,1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                    }]
                };

                var ctx = $("#graficoTemperatura").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    fill: true,
                    borderWidth: 0.1,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Temperatura atual' },
                        legend: { position: 'bottom' },
                        padding: 0,
                        scales: {
                            xAxes: [{ gridLines: { display: true }, display: true, scaleLabel: { display: true, labelString: '' } }],
                            yAxes: [{
                                gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' },
                                ticks: { stepSize: 50, beginAtZero: true }
                            }]
                        },
                    }
                });
            }
        });

        $.ajax({
            type: "POST",
            url: "/home/jsonchuva",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Chuva",
                        data: aDatasets1,
                        fill: false,
                        borderWidth: 0.1,
                        lineTension: 0.1,
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(255,255,255,1)",
                        pointRadius: 6.5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                    }]
                };

                var ctx = $("#graficoChuva").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'bar',
                    data: dataT,
                    fill: false,
                    borderWidth: 0.1,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Índice de Chuva' },
                        legend: { position: 'bottom' },
                        padding: 0,
                        scales: {
                            xAxes: [{ gridLines: { display: true }, display: true, scaleLabel: { display: true, labelString: '' } }],
                            yAxes: [{
                                gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' },
                                ticks: { stepSize: 50, beginAtZero: true }
                            }]
                        },
                    }
                });
            }
        });

        $.ajax({
            type: "POST",
            url: "/home/jsonumidade",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: "Umidade",
                        data: aDatasets1,
                        fill: true,
                        showLine: true,
                        borderWidth: 2,
                        lineTension: 0.1,
                        backgroundColor: "rgba(220,80,85,1)",
                        borderColor: "rgba(220,80,85,1)",
                        pointRadius: 4.5,
                        pointBackgroundColor: "rgba(255,40,40,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(255,40,40,1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                    }]
                };

                var ctx = $("#graficoUmidade").get(0).getContext("2d");
                var myNewChart = new Chart(ctx, {
                    type: 'line',
                    data: dataT,
                    fill: false,
                    showLine: true,
                    borderWidth: 0.1,
                    options: {
                        responsive: true,
                        title: { display: true, text: 'Índice de Umidade' },
                        legend: { position: 'bottom' },
                        padding: 0,
                        scales: {
                            xAxes: [{ gridLines: { display: true }, display: true, scaleLabel: { display: true, labelString: '' } }],
                            yAxes: [{
                                gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' },
                                ticks: { stepSize: 50, beginAtZero: true }
                            }]
                        },
                    }
                });
            }
        });
    </script>
</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Início", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
